Repository sujin-park/deep-dive-http, pull requests merged in 2020-11, with the labels that each got.

#1 [sujin-park] 1장 - HTTP 개관
  chapter_01/chapter01_sujin-park.md
Labels: chapter01

#3 [add] chapter_01 HTTP 개관
  chapter_01/chapter01_jihan-lee.md
Labels: chapter01

#4 [kwonhygge] chapter_01 HTTP
  chapter_01 HTTP 개관.md
Labels: chapter01

#5 [gittykite] chapter01 HTTP 개관
  chapter01/chapter01_kimsy.md
Labels: chapter01

#6 [yeseulo] 1장 - HTTP 개관
  chapter01/chapter01_yeseulo.md
Labels: chapter01

#9 [arori] 2장 - URL과 리소스
  chapter02/chapter02_arori.md
Labels: chapter02

#10 [sujin-park] 2장 - URL과 리소스
  chapter02/chapter02_sujin-park.md
Labels: chapter02

#13 [Gittykite] 2장 URL과 리소스
  chapter01/chapter01_kimsy.md
  chapter02/chapter02_kimsy.md
Labels: chapter02

#12 [yeseulo] 2장 - URL과 리소스
  chapter02/chapter02_yeseulo.md
Labels: chapter02

#16 [add] chapter03_jihan-lee
  chapter03/chapter03_jihan-lee.md
Labels: chapter

#15 [sujin-park] 3장 - HTTP 메시지
  .idea/workspace.xml
  chapter03/chapter03_sujin-park.md
Labels: chapter

#21 [yeseulo] 3장 - HTTP 메시지
  chapter03/chapter03_yeseulo.md
Labels: chapter

#17 [hyunkyung] chapter03_HTTP 메시지
  chapter03/chapter03_kwonhygge.md
Labels: chapter

#22 [arori] 3장 - HTTP 메세지
  chapter03/chapter03_arori.md
Labels: chapter

#23 [Gittykite] 3.HTTP 메세지 (fork)
  chapter03/chapter03_kimsy.md
Labels: chapter

#27 [jihan-lee] 4장 - 커넥션 관리
  chapter04/chapter04_jihan-lee.md
Labels: chapter

#25 [sujin-park] 4장 - 커넥션 관리
  chapter04/chapter04_sujin-park.md
Labels: chapter

#26 [arori] 4장 - 커넥션 관리
  chapter04/chapter04_arori.md
Labels: chapter

#30 [hyunkyung] 4장
  chapter04/chapter04_hyunkyung.md
Labels: chapter

#29 [yeseulo] 4장 - 커넥션 관리
  chapter04/chapter04_yeseulo.md
Labels: chapter
